.text_input{
  width: 204px;
  height: 32px;
}
input:focus[class=text_input] {
  background-color: yellow;
  caret-color: chartreuse;
  outline-width: 0;
}
input[class=text_input] {
  background-color: #fdfdfd;
  width: 204px;
  height: 32px;
}

/*.text_input_container{
  width: 220px;
  height: 48px;
  background-color: white;
  border: 1px solid gray;
}
.text_input {
  margin: auto;
  background-color: #fdfdfd;
  width: 204px;
  height: 32px;
  border: none;
}
input:focus[class=text_input] {
  background-color: yellow;
  border: none;
}*/
