.my_table_cell{
    width: 146px;
    height: 55px;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
}

.my_table_cell:hover {
    background-color: #f6f5f7;
}

::selection {
    background: rgba(144, 19, 254, 0.2);
}