button {
  width: 115px;
  height: 24px;
  background-color: #9013fe;

  margin: 8px;
  padding: 6px 8px;

  border: none;
}

button:hover {
  background-color: #4f088c;
  border: 1px solid deeppink;
}

button > span {
  width: 99px;
  height: 12px;
  object-fit: contain;
  font-family: Muli;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}
