.description {

  padding: 30px;
}

.Lorem-ipsum-dolor-si {
  width: 332px;
  height: 48px;
  object-fit: contain;
  font-family: Arial;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  color: var(--greyish-brown);
}
.Lorem-ipsum-dolor-si::selection { background-color: rgba(100, 19, 254, 0.2); }


