.button_standard {
  background-color: #9013fe;
  border: none;
  height: 32px;
  object-fit: contain;
  font-family: "Comic Sans MS", serif;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: center;
  color: #fefffe;
  padding: 4px 16px;
  border-bottom-left-radius: 2px;
}

.button_standard:hover {
  background-color: #4f088c;
}

.button_standard:active {
  background-color: #2b054d;
}

.button_standard:disabled {
  background-color: #ede6e6;
  color: #cccccc;
  cursor: not-allowed;
}
